# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Paulo Ricardo\Desktop\Pós Graduação\Tecnologias Front End\Trabalhos_FrontEnd\Trabalho3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
